{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header>
      <h1>Blogs <span>by Sherzod</span></h1>
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <p>Created by Sherzod</p>
      <p>Contact: sherzodsobirovv1@gmail.com Phone: +998 99 999 99 99</p>
      <p>Address: Tashkent, Uzbekistan</p>
      <p>&copy; 2025 Blogs. All rights reserved.</p>
    </footer>
  </body>
</html>
